<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduardo Martín Ortiz Hernández</title>
    <style>
        body{
            background-color: #0070C0;
        }
        div{
            background-color:  #121212;
            border: 1px solid black;
            padding: 12px;
            width: 60%;
            margin: 0 auto;
        }
        fieldset{
            margin-bottom: 12px;
        }
        legend{
            background-color: #0070C0;
            padding: 5px;
            border-radius: 20px;
            font-weight: bold;
        }
        img{
            border-radius: 50%;
            margin-bottom: 12px;
            margin-right: 30px;
            float: left;
        }
        span{
            font-weight: bold;
        }
        h1{
            color: #ffffff;
        }
        p{
            color: #ffffff;
        }
        span{
            color: #ffffff;
        }
        li{
            color: #ffffff;
        }
        legend{
            color: #ffffff;
        }
    </style>
</head>
<body>
    <div>
        <img src="foto.jpg" alt="2x2" width="180" height="180">
        <h1>Eduardo Martín</h1>
        <p><span>Telefono:</span> 7971215325</p>
        <p><span>Direccion:</span> Azteca No.5 Col. El Ahuacatal, Huauchinango, Puebla.</p>
        <p><span>Email:</span> tesquet1995@gmail.com</p>
        <p><span>linkedin:</span> https://www.linkedin.com/in/eduardo-martín-2473551ab/</p>
        <fieldset>
        <legend>Perfil</legend>
        <ul>
            <p>Como próximo a graduarme con titulación de técnico superior universitario en la carrera de tecnologias de la
            información, me encantaría poder formar parte de una empresa en la que pueda aplicar todos mis
            conocimientos y, al mismo tiempo, que me permita desarrollarme profesionalmente. Me considero una
            persona con una mente muy creativa y llena de ideas que podrían aportar a los valores y expectativas de
            una organización. Soy alguien que siempre está dispuesto a probar y fortalecer experiencias nuevas, con
            las aptitudes profesionales necesarias que pueden ser de interes a una empresa que busca ideas nuevas,
            frescas e innovadoras.</p>
        </ul>
    </fieldset>
    <br>
    <br>
        <fieldset>
            <legend>Habilidades e idiomas</legend>
            <ul>
            <p>• Competencias comunicativas</p>
            <p>• Buena redacción de textos (ortografía, gramática y lenguaje técnico).</p>
            <p>• Trabajo en equipo</p>
            <p>• Pensamiento crítico y resolución de problemas</p>
            <p>• Creatividad e imaginación</p>
            <p>• Liderazgo</p>
            <p>• Sustentable</p>
            <p>• Organizado</p>
            <br>
            <p><span>Nivel de Inglés:</span> B1</p>
            <p><span>Software:</span> Excel, Word, PowerPoint,
            Outlook, Photoshop, Illustrator, After Effects,
            Flash, WordPress, Unity, Blender, Android
            Studio, Visual Studio, Java, PHP, Oracle,
            Atom, MariaDB, MySQL, MongoDB, Arduino
            IDE</p>
            <p><span>Certificaciones:</span> Certificado de
            Microsoft, certificado en diseño gráfico,
            certificado en Unity.
            </p>
            </ul>
        </fieldset>
        <br>
        <br>
        <fieldset>
            <legend>Titulación por promedio</legend>
            <ul>
            <li><span>TÉCNICO EN PROGRAMACIÓN:</span></li>
            <p> Centro De Bachillerato Tecnológico Industrial y de Servicios (C.B.T.i.s. No. 86) </p>
            </ul>
        </fieldset>
        <br>
        <br>

            <fieldset>
            <legend>Formación Academica</legend>
            <ul>
                <li><span>GRADO EDUCACIÓN MEDIA SUPERIOR:</span>Centro De Bachillerato Tecnológico Industrial y de Servicios (C.B.T.i.s. No. 86)</li>
                <p> C.C.T. 21DCT0302P </p>
                <li><span>GRADO EDUCACIÓN SUPERIOR:</span>Universidad Tecnológica Bilingüe Internacional y Sustentable de Puebla </li>
            </fieldset>
            <br>
            <br>
    
    
                <fieldset>
                <legend>Experiencia Laboral</legend>
                <ul>
                <li><span>MICRO-SERVICIOS WEB</span></li>
                    <p>Práctica : Desarrollo, diseño y marketing de sitios y aplicaciones web </p>
                    <p>Dic. 2019 -</p>
                    <li><span>FREELANCE</span></li>
                    <p>Práctica : Desarrollo, diseño y marketing de sitios y aplicaciones web </p>
                    <p>Dic. 2017 -</p>
                    </ul>
                </fieldset>

                <fieldset>
                <legend>Intereses</legend>
                <ul>
                <p>✓ Arte: Dibujo, Música, Lectura, Actuación. </p>
                <p>✓ Ciencias y tecnologías: Astronomía, Física teórica, Mecánica y Mecatrónica. </p>
                <p>✓ Programación: Desarrollo y diseño de sitios y aplicaciones web, Desarrollo y diseño de videojuegos.</p>
                </ul>                    
                </fieldset>

    </div>
</body>
</html>
